.grading__steps{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    padding-top: 2rem;
    .grading__block{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
    }
    .grading__step{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        img{
            width: 11rem;
        }
    }
}
//RESPONSIVE


@media only screen and (max-width: $laptop_bp){
    .grading__steps{
        width: 100%;
        justify-content: center;
        gap: 1.5rem;
        .grading__block{
            gap: 1.5rem;
        }
        .grading__step{
            margin-bottom: 1rem;
            img{
                transform: scale(.8);
            }
        }
    }
}
//Mobile screens
@media only screen and (max-width: $tablet_bp){
    .grading__steps{
        flex-direction: column;
    }
}